<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANK OF INDIANS</title>
    <style>
        body{
            margin: 0;
            height: 100vh;
            background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
        }
    </style>
    <link rel="stylesheet" href="../static/design2.css">
</head>
<body>
    <div class="container">
        <button class="btn_1">Create Account</button>
        <button class="btn_2">Perform Transaction</button>
        <button class="btn_3">Update account info</button>
        <button class="btn_4">Delete Account</button>
        <button class="btn_5">Search Account</button>
        <button class="btn_6">View Customers List</button>
        <button class="btn_7">Exit</button>
    </div>

</body>
</html>
