<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <title>Login Page</title>
      <!-- #6 issue resolved -->
      <link rel="stylesheet" href="../static/login_design.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="center">
         <!-- <input type="checkbox" id="show">
         <label for="show" class="show-btn">Bank Of Indians</label> -->
         <div class="container">
            <!-- <label for="show" class="close-btn fas fa-times" title="close"></label> -->
            <div class="text">
               Login Form
            </div>
            <form action="#">
               <div class="data">
                  <label for="email-id">Email</label>
                  <input  id="email-id"type="text" required>
               </div>
               <div class="data">
                  <label for="password">Password</label>
                  <input id="password" type="password" required>
               </div>
               <div class="btn">
                  <div class="inner"></div>
                  <button type="submit">login</button>
               </div>
            </form>
         </div>
      </div>
   </body>
</html>
