<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\login_design.css">
    <script src="../static/login.js"></script>
    <title>Login</title>
    <!---we had linked our css file----->
</head>

<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href='website.html'>Bank Of Indians</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li>
                        <button class='loginbtn' onclick="loginButton()">Login</button>
                    </li>
                </ul>
            </nav>
        </div>
        <div id='login-form'class='login-page'>
            <div class="form-box">
                <div class='button-box'>
                    <div id='btn'></div>
                    <button type='button'onclick='login()'class='toggle-btn'>User</button>
                    <button type='button'onclick='register()'class='toggle-btn'>Admin</button>
                </div>
                <form id='login' class='input-group-login'>
                    <input type='text'class='input-field'placeholder='Account No' required >
        		    <input type='password'class='input-field'placeholder='Enter UPI Password' required>
                <!-- <input type='checkbox'class='check-box'><span>Remember Password</span> -->
		            <button type='submit'class='submit-btn'>Log in</button>
		        </form>
		        <form id='register' class='input-group-register'>
                    <input type='text'class='input-field'placeholder='Account No' required >
                    <input type='password'class='input-field'placeholder='Enter UPI Password' required>
                    <!-- <input type='checkbox'class='check-box'><span>Remember Password</span> -->
                    <button type='submit'class='submit-btn'>Log in</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        var x=document.getElementById('login');
		var y=document.getElementById('register');
		var z=document.getElementById('btn');
		function register()
		{
			x.style.left='-400px';
			y.style.left='50px';
			z.style.left='110px';
		}
		function login()
		{
			x.style.left='50px';
			y.style.left='450px';
			z.style.left='0px';
		}
	</script>
	<script>
        var modal = document.getElementById('login-form');
        window.onclick = function(event)
        {
            if (event.target == modal)
            {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
